name: Build and Release BoostedHTML.js

on:
  push:
    paths:
      - 'boostedhtml.js'

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'  # You can specify the desired Node.js version here

      - name: Install Node.js Dependencies
        run: |
          npm install webpack webpack-cli --save-dev
          npm install  # Install other dependencies if needed

      - name: Build BoostedHTML.js
        run: |
          npx webpack ./boostedhtml.js --mode=production
          mv ./dist/main.js ./boostedhtml.min.js

      - name: Commit and Push Changes
        run: |
          rm -rf node_modules
          rm -f package-lock.json
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add ./boostedhtml.min.js
          git commit -m "Update BoostedHTML.js"
          git tag $(echo "${{ steps.random_tag.outputs.stdout }}" | tr -d '\n')
          git push origin main --tags

      - name: Create Release
        run: |
          RELEASE_NAME=$(git tag -l --sort=-v:refname | head -n 1)
          COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          BODY="Commit Message: $COMMIT_MESSAGE"
          echo "Creating release $RELEASE_NAME with title and body: $BODY"

          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            --data "{\"tag_name\":\"$RELEASE_NAME\",\"name\":\"$BODY\"}" \
            "https://api.github.com/repos/$GITHUB_REPOSITORY/releases"

          echo "Release $RELEASE_NAME created."

