name: Build and Release BoostedHTML.js

on:
  push:
    paths:
      - 'boostedhtml.js'

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'  # You can specify the desired Node.js version here

      - name: Install Node.js Dependencies
        run: |
          npm install webpack webpack-cli --save-dev
          npm install  # Install other dependencies if needed

      - name: Build BoostedHTML.js
        run: |
          npx webpack ./boostedhtml.js --mode=production
          mv ./dist/main.js ./boostedhtml.min.js

      - name: Generate Random Tag
        id: random_tag
        run: echo "v$(date '+%Y%m%d%H%M%S')-$(openssl rand -hex 6)"

      - name: Commit and Push Changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add ./boostedhtml.min.js
          git commit -m "Builded minified boosted-html"
          git tag $(echo "${{ steps.random_tag.outputs.stdout }}" | tr -d '\n')
          git push origin main --tags

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          files: ./boostedhtml.js
          tag_name: ${{ steps.random_tag.outputs.stdout }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Release Title and Body
        run: |
          RELEASE_ID=${{ steps.create_release.outputs.id }}
          COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          BODY="Commit Message: $COMMIT_MESSAGE"
          echo "Updating release $RELEASE_ID with title and body: $BODY"
          curl -X PATCH \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            --data "{\"name\": \"$BODY\"}" \
            "https://api.github.com/repos/$GITHUB_REPOSITORY/releases/$RELEASE_ID"
